<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="container">
  <app-login></app-login>
</div>

<br><br>

<div class="container">
  <app-register></app-register>
</div>




<!-- Attribute Selector -->
<!-- <div class="container">
    <div app-users></div>
</div> -->


<!-- <input type="text" [(ngModel)] = "title"> -->

<!-- Element Selector -->
<div class="container">

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->
  <br><br>
  <h3>Counter in AppComponent :: {{ dataService.counter }}</h3>
  <button class="btn btn-default" (click)="onIncrease()"> Increase </button>
  <br><br>
  <ng-container *ngIf="authService.isUserAuthenticated()">
    <app-users [title]="title"></app-users>
  </ng-container>
</div>

<!-- Class Selector -->
<!-- <div class="container">
    <div class="app-users"></div>
</div>  -->