<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>




<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


  <h2>
    <!-- Interpolation -->
    Injected Script : {{ jsScripts }}
  </h2>

  <h2>
    <!-- Property Binding -->
    Property Binding Script :
    <span [innerHTML]="jsScripts"></span>
  </h2>
 
  <br>
  <br>

  <a [href]="dangerUrl">Danger URL</a> <br>
  <a [href]="safeUrl">Safe URL</a>

</div>

<div class="container">

  <h3>Counter in AppComponent :: {{ dataService.counter }}</h3>
  <button class="btn btn-default" (click)="onIncrease()"> Increase </button>
  <br><br>

  <!-- <app-new-employee></app-new-employee> -->
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>



<!-- <div class="container">
  <app-login></app-login>
</div>

<br><br>

<div class="container">
  <app-register></app-register>
</div> -->




<!-- Attribute Selector -->
<!-- <div class="container">
    <div app-users></div>
</div> -->


<!-- <input type="text" [(ngModel)] = "title"> -->

<!-- Element Selector -->
<!-- <div class="container"> -->

<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->
<!-- <br><br>
  
  <ng-container *ngIf="authService.isUserAuthenticated()">
    <app-users [title]="title"></app-users>
  </ng-container>
</div> -->

<!-- Class Selector -->
<!-- <div class="container">
    <div class="app-users"></div>
</div>  -->